---
---
@import 'colors.scss';
@import 'blog.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'ipynb.scss';

html, button, input, select, textarea,
  .pure-g [class *= "pure-u"] { font-family: $sans; }

body {
  color: $fg;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: $sans;
  font-weight: 300;
  text-transform: lowercase;
}

a {
  color: $hl;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.container { margin: 1em; }

.content {
  max-width: 48em;
  font-family: $serif;
}

figure {
  float: none;
  width: 100%;
  margin: 0 1em 1em 0;
  figcaption {
    font-family: $sans;
    a { font-size: 10pt; }
  }
  img {
    border-radius: 4px;
    width: 100%;
  }
}

@media screen and (min-width: 35.5em) {
  figure {
    float: right;
    margin: 0 0 1em 1em;
    width: 12em;
  }
}

