---
layout: default
---

<div class="fancy-header">
  <div class="container">
    <h1>Hi! I'm Matt Wittmann.</h1>
    <div class="statement">
      I'm a graduate student studying computational physics at the University
      of California, Santa Cruz. I'm about to finish my PhD and am seeking
      employment in a research or data science position starting in September
      2015.
    </div>
    <p>
    <a class="btn btn-primary btn-lg" href="#about" role="button">About me</a>
    <a class="btn btn-success btn-lg" href="https://dl.dropboxusercontent.com/u/8639724/resume.pdf" role="button">My CV</a>
    </p>
  </div>
</div>
<div class="container">
  <div class="page-header" id="about"><h1>About me</h1></div>
  <div class="row">
    <div class="col-sm-8 content">
      <p>
        I'm a Ph.D. candidate studying computational statistical physics and
        expecting to graduate September 2015. In graduate school I studied the
        physics of disordered systems, in which complex collective behavior often
        emerges from simple-looking models.
      </p>
      <p>
        During my graduate studies I have developed analytical and
        computational skills useful for exploring large data sets and
        extracting meaningful insights. Recently I've become interested in
        machine learning, especially deep learning and neural networks, which
        share some intriguing features with the &ldquo;spin glass&rdquo; models
        I have been studying as part of my Ph.D. thesis.
      </p>
      <p>
        After finishing my Ph.D. I plan to pursue a career in data science and/or
        machine learning, where I'm excited to apply the insights and analytical skills
        I have developed studying disordered physical systems to a broader range of
        problems.
      </p>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="images/me.jpg" alt="me">
        <div class="caption" align="center">
          <p><a href="mailto:mcwitt@gmail.com">mcwitt@gmail.com</a></p>
          <div class="social-icons">
          {% for icon in site.data.social-icons %}
            <a class="social-icon--link {{ icon.class }}" href="{{ icon.url }}">
              {% include {{ icon.class | prepend: 'social-icons/' | append: '.svg' }} %}
              <span class="social-icon--title visuallyhidden">{{ icon.title }}</span>
            </a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
