---
layout: default
---

<div class="fancy-header">
  <div class="container">
    <h1>Hi! I'm Matt Wittmann.</h1>
    <div class="statement">
      I'm a graduate student studying computational physics at the University
      of California, Santa Cruz. I'm about to finish my PhD and am seeking
      employment in a research or data science position starting in June 2015.
    </div>
    <p>
    <a class="btn btn-primary btn-lg" href="#about" role="button">About me</a>
    <a class="btn btn-success btn-lg" href="resume.pdf" role="button">My CV</a>
    </p>
  </div>
</div>
<div class="container">
  <div class="page-header" id="about"><h1>About me</h1></div>
  <div class="row">
    <div class="col-sm-8 content">
      <p>
        I like
        understanding how things work,
        finding patterns in data,
        building new things,
        programming computers,
        nature and the outdoors,
        music, and
        cycling.
      </p>
      <p>
        I'm looking for work in a field
        that emphasizes creative problem-solving,
        allows me to apply the analytical skills I have developed in graduate
        school to real-world problems,
        and focuses on building new and exciting projects.
      </p>
      <p>
        I'm from
        <a href="http://en.wikipedia.org/wiki/Niwot,_Colorado">Niwot, Colorado</a>
        and studied Physics and Mathematics at the
        <a href="http://www.colorado.edu/">University of Colorado at Boulder</a>
        before joining the PhD program at the
        <a href="http://www.ucsc.edu/">University of California, Santa Cruz</a>.
      </p>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="images/me.jpg" alt="me">
        <div class="caption" align="center">
          <p><a href="mailto:mcwitt@gmail.com">mcwitt@gmail.com</a></p>
          <div class="social-icons">
          {% for icon in site.data.social-icons %}
            <a class="social-icon--link {{ icon.class }}" href="{{ icon.url }}">
              {% include {{ icon.class | prepend: 'social-icons/' | append: '.svg' }} %}
              <span class="social-icon--title visuallyhidden">{{ icon.title }}</span>
            </a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
