<div class="publist">
  <ul>
    <li>
      <span class="me">Matthew Wittmann</span>
      and A. P. Young.
      <div class="title">
        <a href="http://arxiv.org/abs/1410.5296">
          Finite-size scaling above the upper critical dimension
        </a>
      </div>
      Phys. Rev. E 85 (2012)
    </li>
    <li>
      <span class="me">Matthew Wittmann</span>
      and A. P. Young.
      <div class="title">
        <a href="http://arxiv.org/abs/1408.2482">
          Low-temperature behavior of the statistics of the overlap
          distribution in Ising spin-glass models
        </a>
      </div>
      Phys. Rev. B 90
    </li>
    <li>
      <span class="me">Matthew Wittmann</span>
      and A. P. Young.
      <div class="title">
        <a href="http://arxiv.org/abs/1201.1955">
          Spin glasses in the nonextensive regime
        </a>
      </div>
      Phys. Rev. E 85 (2012)
    </li>
  </ul>
</div>

