@import 'colors.scss';

table.dataframe {
  background: $table-bg;
  border: $fglite;
  font-family: monospace;

  th, td {
    text-align: right;
    padding: 7px;
  }
}
    
img.img-output {
  border-radius: 4px;
  box-shadow: 2px 2px 5px 1px $fglite;
}

.input_prompt, .output_prompt {
  font: 14px 'Courier New', Courier, monospace;
  margin: 2em 0 1em 0;
}

.input_prompt { color: $hl; }
.output_prompt { color: complement($hl); }
.input_area, .highlight { background: $code-bg; }

.input_area {
  font-size: 14px;
  border: 1px solid;
  border-color: darken($code-bg, 20%);
  border-radius: 4px;
  margin: 1em 0 0 0;
  padding: 0;
  padding-left: 1em;
}

